    body {
        background-color: #f4f6f8;
    }

    .card {
        border: none;
        border-radius: 0.8rem;
    }

    .card-img-top {
        object-fit: cover;
        height: 250px;
    }

    .card-header {
        font-weight: 700;
    }

    .tanpa-bootstrap {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .tanpa-bootstrap:hover {
        background-color: #db102f;
        color: #e4e7e4;
        transform: rotateY(2);
        transition: all .5s;
    }